@import '../base/mixins';
@import '../base/variables';


.main_admin{
    p,a,h1,h2,h3,h4,th,td{
        font-size: small;
        @include tablet{
            font-size: medium;
        }
        
        @include desktop{
            font-size: large;
        }
    }
}

.lista_admin{
    margin: 50px;
    thead{
        background-color:$verde;
    }
    
    tbody{
        font-weight: bolder;
    }

    img{
            width: 150px;
    }
    
}